.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #3e8dc2;
  div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;

  }
}

h3 {
  background-color: #96d81b;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}
